.login-body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color:whitesmoke;
}

.login-box{
    width: 100%;
    max-width: 330px;
    text-align: center;
}

.login-image-user{
    width: 50%;
}

.login-custom-w{
    width: 100%;
}

.btn-login{
    height: 50px;
}

.singup-custom-w {
    width: 100%;
}
.btn-singup{
    margin-bottom: 10px;
    background:slateblue;
    color: white;
    height: 50px;
}