<div class="container">
    <mat-toolbar>
        <span>Estudiante</span>
    
    </mat-toolbar>

    <mat-card class="mt">

            <h1>Hola</h1>

        <mat-grid-list cols="2" rowHeight="400px">

            <mat-grid-tile  >
                <mat-list class="list" >
                    <mat-list-item>Item 1</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Item 2</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Item 3</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Item 3</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Item 3</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item  >
                        <mat-card-footer class="list-item-btns" >
                        <button type="submit" mat-raised-button color="primary" style="margin-top:20px; margin-right:20px">
                            Desinscribirme
                        </button> 
                        <button (click)="backBtn()"mat-raised-button style="margin-top:20px; ">
                            Volver
                        </button> 
                    </mat-card-footer>
                    </mat-list-item>
                    
                  </mat-list>
            </mat-grid-tile>
            <mat-grid-tile><img src="./assets/img/user.png" alt="user" width="250px" height="250px"></mat-grid-tile>
         
          </mat-grid-list>

    </mat-card>

</div>